

// colors
// $main-blue: #1e3799;
// $main-color-1: #079992;
// $main-color-2: #222f3e;
// $main-yellow: #feca57;
// $main-red: #ED4C67;
// $main-white: #ffffff;

$main-color: #24caac;
$color-1: #eaa023;
$color-2:#e91e63;
$color-4-dark8: #24292d;
$color-5-dark7: #2f363e;
$main-white: #ffffff;
$white-rgba: rgba(255, 255, 255, 0.8);


// box-shadow
$shadow: 0 0 15px rgba(0, 0, 0, 0.2);





